fastapi[standard]
sqlmodel
psycopg2-binary
alembic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
ldap3
requests
python-dotenv
pandas
openpyxl
pymupdf
reportlab
webdav4
langchain==0.3.7
langchain-community==0.3.7
langchain-mistralai
langchain-openai
faiss-cpu
sentence-transformers
tabulate